src/main/mule/customeronboarding-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="customeronboarding-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="customeronboarding-api-config" api="api\customeronboarding-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customeronboarding-api-main">
        <http:listener config-ref="customeronboarding-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customeronboarding-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="customeronboarding-api-console">
        <http:listener config-ref="customeronboarding-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customeronboarding-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customer\leads\(leadId)\owner:application\json:customeronboarding-api-config">
        <flow-ref doc:name="updateOwner" doc:id="ebef2c9f-01cf-47b4-b2bd-a3f351bcd015" name="updateOwner" />
    </flow>
    <flow name="put:\customer\leads\(leadId)\status:application\json:customeronboarding-api-config">
        <flow-ref doc:name="updateStatus" doc:id="be4bf151-6cb2-44b9-abc6-f9ef0fe622f4" name="updateStatus" />
    </flow>
    <flow name="get:\customer\customerdetails:customeronboarding-api-config">
        <flow-ref doc:name="salesforce-aggregator-apiFlow" doc:id="ff7db916-2968-49d3-9992-4bc048cc8741" name="salesforce-aggregator-apiFlow" />
    </flow>
    <flow name="get:\customer\customerdetailsbyemail:customeronboarding-api-config">
        <flow-ref doc:name="salesforce-aggregator-Emailapi" doc:id="44af819c-96f2-40a0-90d7-bf4fe1edf3c4" name="salesforce-aggregator-Emailapi" />
    </flow>
    <flow name="get:\customer\documents:customeronboarding-api-config">
        <flow-ref doc:name="getContentVersionByParentIdFlow" doc:id="142c35e4-7cc5-426b-aee5-b6d2bef3e449" name="getContentVersionByParentIdFlow" />
    </flow>
    <flow name="get:\customer\leads\(leadId):customeronboarding-api-config">
        <flow-ref doc:name="getLeads" doc:id="8a1d6bb3-5fe7-4090-82d7-b2147d1a09bc" name="getLeads" />
    </flow>
    <flow name="get:\customer\leads\owner\(ownerId):customeronboarding-api-config">
        <flow-ref doc:name="getLeadsBasedOnOwnerId" doc:id="0e83c1fa-b9da-4614-9683-f44f9bd7fc27" name="getLeadsBasedOnOwnerId" />
    </flow>
    <flow name="post:\customer\documents:multipart\form-data:customeronboarding-api-config">
        <flow-ref doc:name="uploadDoc" doc:id="6a011e83-befa-4f6d-9878-0e104e528c90" name="uploadDoc" />
    </flow>
    <flow name="post:\customer\leads:application\json:customeronboarding-api-config">
        <flow-ref doc:name="postLeads" doc:id="a406d6f4-8d5f-484f-95f2-5c0fb55be2c0" name="postLeads" />
    </flow>
    <flow name="post:\loanform\submit:application\json:customeronboarding-api-config">
        <flow-ref doc:name="submit-formdata-Flow" doc:id="8be914b9-ffe4-4fe4-bf87-a0885734fed0" name="submit-formdata-Flow" />
    </flow>
</mule>
