customer-onboarding-api/src/main/mule/approvedAndRejectemail-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="approvedAndRejectemail-apiFlow" doc:id="e08b0c03-7b90-4be6-9a65-f1dc2aedccf9" >
		<salesforce:subscribe-topic-listener doc:name="Subscribe topic listener" doc:id="c719283e-2a7c-455b-9e96-aa7e9c707ed5" config-ref="leads-config" topic="${salesforce.topicName}"/>
		<ee:transform doc:name="Transform Message" doc:id="99e04a5a-35d8-4b94-9681-2c8aaac5bbf8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
	queryParams:{
		id: payload.Id
	}
}]]></ee:set-attributes>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="33c00460-685f-418c-bea3-4ebf3ab34a77" message="#[payload]"/>
		<flow-ref doc:name="salesforce-aggregator-apiFlow" doc:id="2838cae7-cb20-495f-8f75-fb8380d094c1" name="salesforce-aggregator-apiFlow" target="jsondata"/>
<!-- [STUDIO:"get loan Applicant details"]		<http:request method="GET" doc:name="get loan Applicant details" doc:id="c7b60c29-490c-4968-810b-9f883c353270" url="${salesforce.aggregratorapiurl}" target="jsondata">
			<http:query-params><![CDATA[#[output application/java
&#45;&#45;-
{
	"id" : payload.Id
}]]]></http:query-params>
		</http:request> [STUDIO] -->
		<choice doc:name="Choice" doc:id="8244c100-e6ad-4589-ad86-f44a792ac966" >
			<when expression="#['Created' == payload.Status__c]">
				<flow-ref doc:name="sfdc-plaid-validationFlow" doc:id="726e6368-7eaa-4597-98d4-97de61aa13fd" name="sfdc-plaid-validationFlow"/>
			</when>
			<when expression="#['Credit Report Requested' == payload.Status__c]">
				<flow-ref doc:name="statement-generator-apiFlow" doc:id="4d7a2abf-68e0-4219-bf62-3d1b73a8d654" name="statement-generator-apiFlow" />
			</when>
			<when expression="#['User Acceptance' == payload.Status__c]">
				<flow-ref doc:name="get-user-acceptance-link" doc:id="c77cc531-e3c0-42f6-ac26-3d036e322069" name="get-user-acceptance-link"/>
			</when>
			<when expression="#['Rejected' == payload.Status__c]">
				<flow-ref doc:name="RejectedFlow" doc:id="4713a8d2-5668-47c1-a12a-19b4861bf9e1" name="RejectedFlow"/>
			</when>
			<when expression="#['Account Activated' == payload.Status__c]">
				<flow-ref doc:name="AccountActivatedFlow" doc:id="7b36006f-0902-4dc1-bfe9-02194c345c7e" name="AccountActivatedFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="4497baa9-57e0-4992-90d7-12f5463485ad" message='"Default"'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="07c017fa-9511-4e9b-95ec-9cd6e0a9a91d" message='#["Loan Status Email sent successfully"]'/>
	</flow>
	<sub-flow name="get-user-acceptance-link" doc:id="d11b60ff-30d3-47d8-8b8b-370d5cd9a32d" >
		<ee:transform doc:name="Transform Message" doc:id="4c3c68b2-97e3-45a6-bf59-ca7593eff262" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="useracceptinput" ><![CDATA[%dw 2.0
output application/json
---
{
	uuid : payload.Id 
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="useracceptance" doc:id="54b5addb-47e6-4ad9-9765-244bf6cc44cf" url="${customer.useracceptance}" target="userlink">
			<http:body ><![CDATA[#[vars.useracceptinput]]]></http:body>
		</http:request>
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;vars.userlink]" doc:name="Set Variable" doc:id="6f8f36ff-2da5-4087-9036-6ab27c2d3175" variableName="userlink"/>
		<parse-template doc:name="forms\acceptance-emailTemplate.html" doc:id="5670801d-b09a-4b32-9d74-a14b52cfebdf" location="forms\acceptance-emailTemplate.html"/>
		<ee:transform doc:name="multipart conversion for comms api" doc:id="3a7d749f-21c9-402e-aa06-5937cb6635fa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output multipart/form-data
---
{
  "parts": {
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "realtime",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "Yes"
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "subject-line",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "Request you to accept User Conditions." 
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "channel",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "EMAIL"
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "email-id",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": vars.jsondata.Contact.Email reduce $$
    },
    "files": {
            "headers": {
                "Content-Disposition": {
                    "name": "files",
                    "filename": "Form.html",
                    "subtype": "form-data"
                },
                "Content-Type": "text/html"
            },
            "content": payload
        }
  }
}
   


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request to comms accelerator" doc:id="65af04f8-3db7-44ca-a971-d82c3874d83f" config-ref="comms" path="${commsaccelerator.path}" />
<!-- [STUDIO:"commsAPI"]		<flow-ref doc:name="commsAPI" doc:id="d173d083-b4c9-4742-b65c-473dd719988c" name="commsAPI" /> [STUDIO] -->
	</sub-flow>
	<flow name="RejectedFlow" doc:id="f1f07fce-2ed4-4504-aebb-57e446a18f9e" >
		<set-variable value="#[%dw 2.0
output application/java
---
vars.jsondata]" doc:name="Set Variable" doc:id="315e33b1-a358-4da9-9eb6-b956e789538a" variableName="jsondata" />
		<parse-template doc:name="forms\rejected.html" doc:id="ef3c32c5-caae-482d-a78e-468075c58146" location="forms\rejected.html" />
		<ee:transform doc:name="multipart conversion for comms api" doc:id="0aa8e3d7-c773-407a-873b-d3fe4b231488" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output multipart/form-data
---
{
  "parts": {
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "realtime",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "Yes"
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "subject-line",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "Account Onboarding Application." 
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "channel",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "EMAIL"
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "email-id",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": vars.jsondata.Contact.Email reduce $$
    },
    "files": {
            "headers": {
                "Content-Disposition": {
                    "name": "files",
                    "filename": "Form.html",
                    "subtype": "form-data"
                },
                "Content-Type": "text/html"
            },
            "content": payload
        }
  }
}
   


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="commsAPI" doc:id="408fff35-95c9-4094-b9c1-4ff5323011d4" name="commsAPI"/>
	</flow>
	<flow name="AccountActivatedFlow" doc:id="2437caf6-d788-48d8-adcb-2666eaeea888" >
		<set-variable value="#[%dw 2.0
output application/java
---
vars.jsondata]" doc:name="Set Variable" doc:id="18d19439-13d0-43da-87ec-08a49b40e73d" variableName="jsondata" />
		<parse-template doc:name="forms\accepted.html" doc:id="6a99405d-ef10-436c-9711-ecfdffcc841d" location="forms\accepted.html" />
		<ee:transform doc:name="multipart conversion for comms api" doc:id="91eda77f-56b5-4ff8-8131-0a92b3cad4da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output multipart/form-data
---
{
  "parts": {
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "realtime",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "Yes"
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "subject-line",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "welcome letter." 
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "channel",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": "EMAIL"
    },
    "files": {
      "headers": {
        "Content-Disposition": {
          "name": "email-id",
          "subtype": "form-data"
        },
        "Content-Type": "text/plain"
      },
      "content": vars.jsondata.Contact.Email reduce $$
    },
    "files": {
            "headers": {
                "Content-Disposition": {
                    "name": "files",
                    "filename": "Form.html",
                    "subtype": "form-data"
                },
                "Content-Type": "text/html"
            },
            "content": payload
        }
  }
}
   


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="commsAPI" doc:id="2fe81ab1-781b-4062-8a8c-1a6386b27c2e" name="commsAPI" />
	</flow>
	
</mule>
